certifi==2019.3.9
chardet==3.0.4
coloredlogs==10.0
humanfriendly==4.18
idna==2.8
mwclient==0.9.3
mwparserfromhell==0.5.4
oauthlib==3.0.1
psycopg2==2.8.2
python-dateutil==2.8.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.25.3
